body {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    margin: 0px auto;
    padding: 0px auto;
}

label {
    margin-top: 50px;
}

ul {
    margin-top: 50px;
}

span {
    float: left;
}

.completed {
    color: grey;
    text-decoration: line-through;
}